
  .app-header {
    background-image: url('../assets/images/hero-portfolio.png');
    height: 400px;
    background-position: center bottom;
    background-size: cover;
    position: relative;
  }
  
  .profile-img{
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
    border: 4px solid white;
    position: absolute;
    bottom: -10%;
    right: 10%;
    transition: transform .8s; 
  }
    .profile-img:hover {
    transform: scale(1.1);
    }

    .custom-quotation-mark {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.2em;
      font-size: 1.5em;
      line-height: 0.8;
      margin-top: 0;
    }
    
    


  